<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
      <h1>welcome to my portfolio!</h1>
      <a href="{% url 'blog:all_blogs' %}"><button type="button" name="button">Blog!</button></a>
      {% load static %}
      <a href="{% static 'portfolio/resume.pdf' %}">Resume</a>
      <img src="{% static 'portfolio/image.png' %}" alt="">
      {% for p in projects %}
      <li>
          {% if p.url %}
          <a href="{{ p.url }}"><img src="{{ p.image.url }}" alt="" height="80" width="80"></a>
          {% else %}
          <img src="{{ p.image.url }}" alt="" height="80" width="80">
          {% endif %}
          <br> {{ p.title }} <br>
          {{ p.description }} </li>


      {% endfor %}
  </body>
</html>
